:root {
    --primary: #2C696F;
    --roboto : 'Roboto', sans-serif;
}


::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DEDEDE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    quotes: none;
    text-decoration: unset;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin: 0px auto;
    font-family: var(--roboto);
    overflow-x: hidden;

}

/*nav*/
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
}

.nav-search {
    padding-right: 10px;

}
.nav-search svg {
    width: 25px;
    color: #1C1C1C;
     cursor: pointer;
}


/*stories*/

.stories {
    top: inherit;
    left: inherit;
    position: inherit;
    right: inherit;
    padding: inherit;
}
.stories h2 {
    display: none;
}
.swiper-stories {
  height: 120px;
}

.swiper-stories .swiper-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    /*padding:  0;*/

}

.swiper-stories .swiper-slide {
  text-align: center;
  width: 95px !important;
  height: 150px !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}



.swiper-stories .stories-img {
    position: relative; 
    -webkit-transform: translateY(-2px); 
        -ms-transform: translateY(-2px); 
            transform: translateY(-2px);
    margin-left: 5px;
}

.swiper-stories .swiper-slide span {
    font-size: .85rem;
    text-align: center;
    padding-top: 8px;
    padding-left: 10px;
}

.swiper-stories .swiper-slide .your-story {
    padding-top: 2px;
}


.swiper-stories .stories-img img {
    width: 75px;
    height: 75px;
    border-radius: 1000px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 2px solid #E9E9E9;
    padding: 4px;
}

.swiper-stories .add-stories {
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FA8F21));
    background: -o-linear-gradient(top, #9139A7, #FA8F21);
    background: linear-gradient(to bottom, #9139A7, #FA8F21);
    width: 25px;
    height: 25px;
    border-radius: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 3px solid white;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.swiper-stories .add-stories svg {
    color: white;
    width: 25px;
}


.stories-outer-linear {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FAB36C));
    background: -o-linear-gradient(top, #9139A7, #FAB36C);
    background: linear-gradient(to bottom, #9139A7, #FAB36C);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
    cursor: pointer;
}

.stories-outer-linear.close-friend {
    background: #2DCB3D;
}

.stories-outer-white {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background: white;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
  -webkit-transform: translateX(-0);
      -ms-transform: translateX(-0);
          transform: translateX(-0);
}

.stories-outer-white img {
    width: 73px;
    height: 73px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    /*padding: 4px;*/
    padding: 4px 4px 4px 4px;
}

.live-stories {
    position: absolute;
    width: 50px;
    height: 20px;
    font-size: .8rem;
    color: white;
    bottom: 48px;
    border: 2px solid white;
    border-radius: 3px;
    left: 22px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#9039A7), to(#F98D22));
    background: -o-linear-gradient(top, #9039A7, #F98D22);
    background: linear-gradient(to bottom, #9039A7, #F98D22);
}

/*feed*/
.feed {
    top: inherit;
    left: inherit;
    position: inherit;
    right: inherit;
    padding: 20px 20px;
}
.feed h2 {
    display: none;
}

.box-feed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    gap: 20px;
}

.card-feed {
    -ms-grid-column-span: 12;
    grid-column: span 12;
    margin: 30px 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-feed-img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
}

.content-feed {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    justify-content: center;
    align-items: center;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    width: 100%;
}

.icon-feed {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.icon-feed svg {
    width: 24px;
    height: 24px;
    margin: 0 0 0 10px;
    cursor: pointer;
}



.profile-outer-linear {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FAB36C));
    background: -o-linear-gradient(top, #9139A7, #FAB36C);
    background: linear-gradient(to bottom, #9139A7, #FAB36C);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
    cursor: pointer;
}

.profile-outer-linear.no-story {
    background: none;
}

.profile-outer-white {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
  -webkit-transform: translateX(-0);
      -ms-transform: translateX(-0);
          transform: translateX(-0);
}

.profile-outer-white img {
    width: 44px;
    height: 44px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    /*padding: 4px;*/
    padding: 4px 4px 4px 4px;
}

.profile-name-like {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
}

.profile-name-like span {
    display: inline-block;
    font-weight: bold;
    font-size: .9rem;
}

.article-feed p {
    font-size: .9rem;
    padding: 0 10px;
    text-align: left;
}

.view-all-comment {
 font-size: .9rem;
 margin: 10px;
 text-align: left;
 display: inline-block;
 color: #8D8D8D;
 cursor: pointer;

}

/*sidebar*/
.sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: auto;
}

.sidebar.active {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.close-sidebar {
    position: absolute;
    width: 30px;
    color: #3B3B3B;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.close-sidebar-dekstop {
    display: none;
}

.sidebar-brand {
    display: none;
}

.sidebar-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 55px;
    position: relative;
}

.profile-sidebar {
    width: 100%;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.profile-sidebar-outer-linear {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FAB36C));
    background: -o-linear-gradient(top, #9139A7, #FAB36C);
    background: linear-gradient(to bottom, #9139A7, #FAB36C);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
    cursor: pointer;
}

.profile-sidebar-outer-linear.no-story {
    background: none;
}

.profile-sidebar-outer-white {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-0);
      -ms-transform: translateX(-0);
          transform: translateX(-0);
}

.profile-sidebar-outer-white img {
    width: 90px;
    height: 90px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    /*padding: 4px;*/
    padding: 4px 4px 4px 4px;
}

.profile-sidebar h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.profile-sidebar span {
    margin: 0 0 10px;
    display: inline-block;
    color: #BBBBBB;
}

.info-profile-sidebar {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    /*background-color: red;*/
}

.info-profile-sidebar div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .9rem;
}

.info-profile-sidebar div span {
    padding: 0;
    margin: 0;
}
.info-profile-sidebar div span:nth-child(1) {
    color: black;
    font-weight: bold;
}


.sidebar-menu {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
}


.sidebar-switch-logout {
    border-bottom: none;
}
.sidebar-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 15px;
}

.sidebar-menu img {
    width: 25px;
    height: 25px;
    /*object-fit: cover;*/
    margin: 0 10px;
    padding: 2px;
}

.sidebar-menu span {
    color: #2F2624;
    font-weight: bold;
    font-size: .95rem;
}



/*bottom-nav*/
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0 -1px 5px 1px rgba(0,0,0,.1);
            box-shadow: 0 -1px 5px 1px rgba(0,0,0,.1);
    visibility: visible;
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.bottom-nav.active {
visibility: hidden;
  opacity: 0;
}

.bottom-nav-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form-bottom-search {
    display: none;
}

.bottom-add-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FA8F21));
    background: -o-linear-gradient(top, #9139A7, #FA8F21);
    background: linear-gradient(to bottom, #9139A7, #FA8F21);
    width: 140px;
    height: 40px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.bottom-add-photo svg {
    width: 40px;
    -webkit-transform: translateX(-7px);
        -ms-transform: translateX(-7px);
            transform: translateX(-7px);
}

.bottom-add-photo span {
    display: inline-block;
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
    font-weight: bold;
    font-size: 1rem;
}

.bottom-show-menu {
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FA8F21));
    background: -o-linear-gradient(top, #9139A7, #FA8F21);
    background: linear-gradient(to bottom, #9139A7, #FA8F21);
    border-radius: 1000px;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bottom-show-menu svg {
    width: 40px;
    color: white;
}

/*footer*/

.footer {
    padding: 0 20px 30px;
}

.footer-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-area img {
    padding: 10px 0;
}

.footer-area span {
    font-size: .9rem;
    color: #555555;
    padding: 5px 0;
}

.footer-area div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-area a {
      font-size: .9rem;
    color: #555555;
    padding: 5px 0;  
}

.footer-area div svg {
    width: 18px;
    margin-left: 5px;
}

@media screen and (min-width: 350px) {
    .bottom-nav-area {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
  .card-feed {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }  
}

@media screen and (min-width: 1024px) {
    body {
        margin: inherit;
        overflow-y: scroll;
    }
   .nav {
    display: none;
   }

   .stories {
    top: 60px;
    left: 300px;
    position: absolute;
    right: 0;
    padding: 20px 30px 20px 0;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
   }

   .stories.active-desktop {
    left: 0;
    padding: 20px 100px 20px 73px;
   }

   .stories h2 {
    display: block;
    padding: 0 25px;
   }

   .feed {
    top: 220px;
    left: 300px;
    position: absolute;
    right: 0;
    padding: 20px 30px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
   }

   .feed.active-desktop {
     left: 0;
      padding: 20px 100px;
   }

   .feed h2 {
    display: block;
    margin-bottom: 18px;
   }

    .card-feed {
     -ms-grid-column-span: 12;
     grid-column: span 12;
    }  

    .card-feed-img{
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
}




   /*sidebar*/

   .sidebar {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    right: inherit;
    bottom: 0;
    width: 300px;
    position: fixed;
    background-color: #FAFAFA;
    visibility: visible;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
   }

   .sidebar.active-desktop {
    left: -300px;
    visibility: hidden;
   }

   .sidebar-brand {
    display: block;
    position: absolute;
    top: 35px;
    left: 85px;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
   }

   .close-sidebar {
    display: none;
   }

     .close-sidebar-dekstop {
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FA8F21));
    background: -o-linear-gradient(top, #9139A7, #FA8F21);
    background: linear-gradient(to bottom, #9139A7, #FA8F21);
    border-radius: 1000px;
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 50%;
    left: 298px;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 1000;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    }
     .close-sidebar-dekstop svg {
    width: 30px;
    color: white;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    }

    .close-sidebar-dekstop.active-desktop {
    left: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    }

   .sidebar-area {
    padding-top: 90px;
   }

   .bottom-nav {
    top: 0;
    left: 300px;
    position: absolute;
    bottom: inherit;
    right: 0;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
    visibility: inherit;
    opacity: inherit;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
     padding: 20px 28px 20px 25px;
     -webkit-transition: .3s ease;
     -o-transition: .3s ease;
     transition: .3s ease;
    /*background-color: red;*/
   }

   .bottom-nav.active-desktop {
    left: 0;
    padding: 20px 100px;
   }

   .bottom-nav-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: inherit;
    margin: inherit;
   }

   .form-bottom-search {
    background-color: #F4F4F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 217px;
    height: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    border-radius: 12px;
   }

   .form-bottom-search input {
    background: none;
     color: #b4b4b4;
    text-indent: 30px;
   }

   .form-bottom-search svg {
    width: 20px;
    position: absolute;
    background-color: #F4F4F4;
    color: #b4b4b4;
   }

   .bottom-add-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#9139A7), to(#FA8F21));
    background: -o-linear-gradient(top, #9139A7, #FA8F21);
    background: linear-gradient(to bottom, #9139A7, #FA8F21);
    width: 119px;
    height: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    }

    .bottom-add-photo svg {
    width: 25px;
    -webkit-transform: translateX(-7px);
        -ms-transform: translateX(-7px);
            transform: translateX(-7px);
    }

    .bottom-add-photo span {
        font-size: .9rem;
    }

   .bottom-show-menu {
    display: none;
   }



   .footer {
    display: none;
   }
}

@media screen and (min-width: 1500px) {
    body {
      max-width: 1500px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
}